@import url('https://fonts.googleapis.com/css?family=Tangerine:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    top: 0;
}

:root {
    --bg-color: #fff;
    --text-color: #303030;
    --shadow: #999999;
    --secund: rgba(0, 0, 1);
}

html {
    background: var(--bg-color);
    color: var(--text-color);
}

body {
    margin: 3rem;
    padding: 0;
}

.tabuada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabuada h2 {
    padding: 5rem;
    font-size: 7rem;
    font-family: "Tangerine", sans-serif;
    color: var(--text-color);
    padding-bottom: 2rem;

}

.tabuada p {
    font-size: 3rem;
    color: var(--secund);
    font-weight: 100;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .2rem solid #303030 ;
    border-radius: 1rem;
}

.content span {
    color: #00ff00;
}

.content:hover{
    background: var(--text-color);
    -webkit-text-fill-color: var(--bg-color);
}