@import url('https://fonts.googleapis.com/css?family=Tangerine');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.heading scan {
    color: var(--main-color);
}

.carousel-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem; 
}

 .carousel-container .carousel-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
 }


 .carousel-content .carousel-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
 }

 .carousel-slide img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
 }

.carousel-slide h3 {
    font-size: 2.5rem;
    margin: 2rem 0;
}

.carousel-slide p{
    font-size: 1.4rem;
    text-align: center;
}

.carousel-wrapper .carousel-box {
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.carousel-box .swiper-button-next,
.carousel-box .swiper-button-prev {
    color: var(--main-color);
}

.carousel-box .swiper-button-next {
    right: 0;
}

.carousel-box .swiper-button-prev {
    left: 0;
}

.carousel-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, .8);
}
.carousel-box .swiper-pagination-bullet-active {
    color: var(--main-color);
}
